  body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 100%;
    height: 500px;
    
}

  .container {
    padding: 130px 200px;
    width: 60%; 
    margin: 0 auto;
}

            /*Content-lyouts*/

  .content-layouts {
      width: 100%;
      margin: 0 auto;
      border: 3px solid black;
      -webkit-box-shadow: 4px 3px 43px 1px rgba(0,0,0,0.36);
      -moz-box-shadow: 4px 3px 43px 1px rgba(0,0,0,0.36);
      box-shadow: 4px 3px 43px 1px rgba(0,0,0,0.36);
  }

   .layouts {
      width: 100%;
      margin: 0 auto;  
    }

    .image {
        width: 100%;
        margin: 0px auto;
        padding: 25px;    
        box-sizing: border-box; 
    }

             /*nav-bar*/

    .nav-bar {
        width: 100%;
        color: gray;
        background-color: lightgray;
        margin: 4px auto;
    }

    i {
        padding: 0px;
        margin: 0 auto;
    }
    #left {
        padding-left: 70px;
        float: left;
        width: 45%;
    }

    #right {
        margin: 0 auto;
        float: right;
        width: 45%;
    }

            /*content-square*/

    .content-square {
        margin: 0 auto;
        width: 100%;
        display: inline-block;
        padding-left: 40px;
    }

    .content-left {
        float: left;
        width: 20%;
    }
    .content-right {
        float: right;
        width: 60%;
        
    }





