  body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 100%;
    height: 500px;
    
    }

  .container {
    width: 80%; 
    margin: 0 auto;
   }

            /*Content-lyouts*/

  .content-layouts {
      padding: 0;
      width: 100%;
      margin: 0 auto;
      border: 3px solid black;
    }

   .layouts {
      width: 100%;
      margin: 0 auto;  
    }

    .image {
        width: 100%;
        margin: 0px auto;
        padding: 0px;    

    }
             /*nav-bar*/

    .nav-bar {
        padding: 20px 0 20px 0;
        width: 100%;
        color: gray;
        background-color: lightgray;
        
    }

    i {
        padding: 0px;
        margin: 0 auto;
    }
    #left {
        padding-left: 70px;
        float: left;
        width: 45%;
    }

    #right {
        margin: 0 auto;
        float: right;
        width: 45%;
    }
            /*nav-bar sectio-ups*/
    input {
        margin: 0 auto;
        width: 10;
        max-width: 50%;
    }

            /*content-square*/

    .content-square {
        padding: 20px;
        margin: 10 auto;
        width: 95%;
        height: 100%;
        display: inline-block;
    }

    .content-left {
        text-align: center;
        float: left;
        width: 30%;
        height: 50%;
        margin-bottom: 10%;
    }

    .one-left {
        width: 100%;
        padding-bottom: 15%;    
    }
    .money {
        padding: 0;
        margin: 0 auto;
    }

    .green {
        color: green;
        font-size: 1.2em;
    }

    .two-left {
        width: 100%;
        padding-bottom: 15%;
    }

    .tree-left {
        width: 100%;        
        padding-top: 33px;  
    }
    

    h2 {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 60px;
    }
            /*class today*/
    h6 {
        padding: 10px;
        border: 1px solid lightgray;
        background-color: lightgrey;
    }

            /*input*/

    input {
        padding: 7px;
    }

    .input {
        float: right;
        margin-bottom: 30px;
    }

    hr {
        margin: 10 auto;
        width: 100%;
    }
        /*content-right*/

    .content-right {
        padding: 10px;
        float: right;
        height: 50%;
        width: 50%;
    }

    .one-right {
        text-align: center;
        width: 100%;   
    }

    .two-right {
        text-align: left;
        width: 100%;   
    }

     .tree-right {
        text-align: left;
        width: 100%;   
    }

    .four-right {
        text-align: left;
        width: 100%;   
    }

    .five-right {
        text-align:left;
        width: 100%;   
    }

    .big {
        font-size: 2.2em;
    }    

    .today {
        width: 97%;
        text-align: center;
        border: 1px solid lightgray;
        background-color: lightgrey;
    }
    
    p {
        float: right;
    }

        /*Numbers top-right*/

    .min {
    
        color: gray;
        font-size: .3em;
        
    }
        /*Numbers top-right*/