  body {
        padding: 0;
        margin: 0 auto;
        font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        width: 100%;
        height: 500px;
        color: #FAFAFA;
    }

  .container {
        width: 80%; 
        margin: 0 auto;
   }

            /*Content-lyouts*/

  .content-layouts {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        border: 2px solid #3B3B3C;
        color: #3B3B3C;
    }
    div {
        padding: 0;
        margin: 0;
    }

   .layouts {
        width: 100%;
        margin: 0 auto;  
    }

    .image {
        width: 100%;
        margin: 0px auto;
        padding: 0px;    
    }
             /*nav-bar*/

    .nav-bar {
        padding: 10px 0 10px 0;
        width: 100%;
        background-color: #CBD4D3;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

                /*icon-position*/

    i {
        padding: 0px;
        margin: 0px auto;
        display: inline-block;
    }

    #left {
        letter-spacing: .1em;
        padding-left: 40px;
        float: left;
        width: 40%;
    }

    #right {
        letter-spacing: .1em;
        float: right;
        width: 40%;
        padding-right: 40px;
    }

            /*nav-bar section-up*/
  
    *, *:before, *:after {
     box-sizing: border-box;
    }
            /*content-square*/

    .content-square {
        padding: 80px 0 10px 0px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: inline-block;
    }
                    /*together*/
                /*divs left-right*/
    .left-right {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        display: block;
        }

                /*content-left*/

    .content-left {        
        text-align: center;
        width: 40%;
        display: inline-block;
        margin: 0 auto;
    }

    .one-left {
        border: 1px solid #CBD4D3;
        border-top: 1px solid #CBD4D3;
        width: 50%;  
        margin: 0 auto;
        margin-bottom: 17%;
        padding-bottom: 10%;
    }

    
    .money {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        border: 1px dashed #CBD4D3;
        background: #CBD4D3;
    }
    
    .green {                
        font-size: 1.5em;        
        color: green;
    }

    .range {
        padding-bottom: 1%;
    }

    .two-left {
        border: 1px solid #CBD4D3;
        border-top: 1px solid #CBD4D3;        
        width: 50%;
        padding-bottom: 5%;
        margin: 0 auto;
        margin-bottom: 20%;
    }

    .credit-cards {        
        border: 1px solid #CBD4D3;
        background: #CBD4D3;
    }

    .tree-left {        
        border: 1px solid #CBD4D3;
        border-top: 1px solid #CBD4D3;
        width: 50%;
        margin: 0 auto;         
        
    }

    .ways-to-save {
        border: 1px solid #CBD4D3;
        background: #CBD4D3;
    }

        /*content-right*/

    .content-right {        
        float: right;
        width: 60%;  
        padding-right: 5px;
    }

    .one-right {     
        border-top: 1px solid #CBD4D3;
        text-align: center;
        padding-bottom: 15px;
        width: 80%;   
    }

    .two-right {        
        padding: 0;
        margin: 0;
        text-align: left;
        width: 80%;  
        border-bottom: 1px solid #CBD4D3; 
    }
 
     .tree-right {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 80%;   
    }

    .four-right {
        padding: 0;
        margin: 0;
        text-align: left;
        width: 80%;   
    }

    .five-right {
        padding: 0;
        margin: 0;
        text-align:left;
        width: 80%;   
    }

              /*inputs place*/
    input {
        display: inline-block;   
        min-width: 30%;
        width: 40%;
        padding: 10px;
         
    }

    .input {
        width: 60%;
        min-width: 40%;
        float: right;
        left: 10px;
        padding-top: 1%;
        padding-left: 30%;
    }
     
    .input1 {   
        width: 30%;
        background-color: #34BCB3;
        max-width: 50%;
        min-width: 30%;             
        color: #FAFAFA;
    }

            /*inputs place*/

    .big {
        font-size: 2.1em;
    }    

    .today {
        border-top: 1px solid #CBD4D3;        
        color: grey;
        width: 97%;
        text-align: center;
    }
    
    .price-less {
        font-size: 2.0em;
        margin: 0 auto;
    }


    h2 {
        color: black;
        font-size: 1em;
    }

    h5 {
        color: #9CA6A5;
        font-size: .5em;
        margin: 0 auto;
    }

    h6 {        
        padding: 15px;
        background: #CBD4D3;
   }
   
    p {
        float: right;
    }

    a {
        color: gray;
        letter-spacing: .1em;
        padding: 0;
    }

        /*Numbers top-right*/

    .min {
        color:#9CA6A5;
        font-size: .3em;    
    }
        /*Numbers top-right*/